<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- Configuración del Servidor -->
    <add key="ServiceName" value="Automatic Messaging Service" />
    <add key="Description" value="Servicio que permite enviar mensajes automáticos con la ayuda de la API de Whatsapp" />
    <!-- Configuración de la conexión con la Base de Datos -->
    <add key="IPServer" value="localhost" />
    <add key="PORT" value="3306" />
    <add key="username" value="admin" />
    <add key="password" value="admin" />
    <add key="dbname" value="empresa" />
    <!-- Configuración de API Whatsapp -->
    <add key="APIversion" value="v17.0" />
    <add key="APIphoneID" value="115597018100112" />
    <add key="APIauthtoken" value="EAALrIISbTX8BO9fFu5NqWlvrmAZBv8ngDZAT1oV3gGVLPbhiZCHMq1OByRYZBZCVk58oOu85IoYVHex0zV7hZAjpLLYwNnZAhkWKyWZCJcmN7MczmaH3sKLZBVwy3c6W6MPEm70a1hhJKXz9EEllZAziPPW6qaX8YKFu0qGeaBZAdZBvDtURDmheZBffGXTngkjFi6lhIzU9UY9uphTE0OGPBpkAQRoWElC6YfMdzEZAkZD" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>